CompileFlags:
  Add:
    - '-ferror-limit=0'
    - '-Wno-implicit-int'
    - '-Wdocumentation'
    - '-fparse-all-comments'
  CompilationDatabase: build/
Diagnostics:
  Suppress:
    - unused-includes
    - unknown_typename
    - unknown_typename_suggest
    - typename_requires_specqual
Documentation:
  CommentFormat: Doxygen
---
If:
    PathMatch: 
      - "Core/Inc/.*"
      - "Drivers/.*"
      - "USB_Device/.*"
      - "Core/Src/.*"
    PathExclude: "Core/Src/main\\.cpp"

Diagnostics:
  ClangTidy:
    Remove:
      - readability-identifier-naming
      - readability-*
